* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

header {
  background-color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0 2.5rem;
}

header .title {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
}

header .title:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease-out;
}
header nav button {
  background-color: transparent;
  padding: 2px 8px;
  border-radius: 26px;
  border: none;
}

header span {
  font-size: 16px;
}

.slide-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  background-color: #caf0f8;
  border-radius: 26px;
  color: #212529;
}

header nav button:hover {
  cursor: pointer;
  background-color: #ade8f4;
  transition: 1.2s background-color;
}

header .nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

main {
  display: flex;
}

section {
  width: 80vw;
  height: 80vh;
  padding: 10vh 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  transition: all 500ms ease-out;
}

section h1 {
  font-size: 5rem;
  color: #555;
}

section h2 {
  font-size: 4rem;
  color: #555;
}

section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
}

section ul li {
  border-bottom: 1px solid #eee;
}

section ul li a {
  text-decoration: none;
}

ul li,
ul li a,
ul li a:active,
ul li a:visited {
  color: #666;
}

ul li:hover,
ul li a:hover {
  color: #666;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;

  background-color: #eee;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

footer h1 {
  font-size: 1.2rem;
  color: #555;
  text-transform: uppercase;
}

footer .author {
  font-weight: bold;
}

/* 
Link 
https://glitch.com/edit/#!/canyon-long-lynx?path=main.css%3A38%3A1 */

/* main:nth-child(2) > section {
  transform: translateX(-100vw);
} */
